@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 5rem !important;
    padding-top: 12%;
}

#game-menu,
#loadingScreen,
#game-screen,
#tw {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }

    to {
        text-shadow: none;
    }
}

.main-menu-btn {
    border: none;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    transition: 1s;
    background-color: black;
    border: 2px solid white;
    clip-path: polygon(0 2px, 2px 2px, 2px 0, calc(100% - 2px) 0, calc(100% - 2px) 2px, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 2px calc(100% - 2px), 0 calc(100% - 2px));
    cursor: pointer;
}

.main-menu-btn:hover {

    border: solid 2px red;
    color: red;

}

.hidden {
    display: none !important;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 85px;
    height: 35px;
    --g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #fff 0);
    --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l6 1s infinite alternate;
}

@keyframes l6 {
    0% {
        background-position: 0 50%, 50% 50%, 100% 50%
    }

    20% {
        background-position: 0 0, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0 100%, 50% 0, 100% 50%
    }

    60% {
        background-position: 0 50%, 50% 100%, 100% 0
    }

    80% {
        background-position: 0 50%, 50% 50%, 100% 100%
    }

    100% {
        background-position: 0 50%, 50% 50%, 100% 50%
    }
}

#loadingScreen {
    justify-content: center;
}

#options-menu {
    width: 60%;
    height: 800px;
    border: 2px solid white;
    z-index: 999999;
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}



.cross {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

image {
    width: 50%;
}

.cross:hover {
    background-color: red;
}

.text-guy-wrapp {
    width: 100%;
    border: 2px solid white;
    clip-path: polygon(0 2px, 2px 2px, 2px 0, calc(100% - 2px) 0, calc(100% - 2px) 2px, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 2px calc(100% - 2px), 0 calc(100% - 2px));
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

#game-screen {
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    justify-content: space-around;
}

.game-wrapper {
    width: 500px;
}

.minigames {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    width: 40%;
    border-radius: 10px;
    border: 3px solid white;
    clip-path: polygon(0 2px, 2px 2px, 2px 0, calc(100% - 2px) 0, calc(100% - 2px) 2px, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 2px calc(100% - 2px), 0 calc(100% - 2px));
}

.path {
    background-color: aliceblue;
}

.finish {
    background-color: rgb(50, 50, 128);
}

.lab-1_1 {
    width: 200px;
    height: 40px;
}

.window-container {
    display: flex;
    justify-content: end;
    border-bottom: 3px solid white;
    cursor: pointer;
    position: relative;
}

.window-icons {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border-radius: 10px;
}

.window-icons:hover {
    background-color: red;
}

.baby-game-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.baby-game {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#tardis {
    width: 150px;
    height: 250px;
    margin-right: 0px;
}

.baby-controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cacher {
    opacity: 0;
}

#loose-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 500%;
    margin-top: 10%;
}

.looseText {
    margin-bottom: 10%;
}

.game-name {
    margin: 0 35% 0 0;
    display: flex;
    align-items: center;
}

.name-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}

.button-skip-minigame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer {
    font-size: 60px;
}

.skip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 80px;
    font-size: 30px;
    border: 3px solid white;
    clip-path: polygon(0 2px, 2px 2px, 2px 0, calc(100% - 2px) 0, calc(100% - 2px) 2px, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 2px calc(100% - 2px), 0 calc(100% - 2px));
    transition: 0.5s ease-in;
    margin-bottom: 80px;
}

.skip:hover {
    color: red;
    border: 3px solid red;
}

.white-to-red {
    color: red;
    transition: 1s linear;
}

.red-to-white {
    color: white;
    transition: 0.8s linear;
}

.trembling {
    animation: trembler 1s infinite;
}

@keyframes trembler {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

#tw {
    transition: .5s;
    justify-content: center;
}

@keyframes transition {
    0% {
        filter: brightness(100%);
    }

    30% {
        filter: brightness(0%);
    }

    100% {
        filter: brightness(100%);
    }
}

.transition {
    animation: transition 6s ease-in-out;
}

.fa-headphones-simple {
    font-size: 70px;
}

h3 {
    font-size: 250%;
    text-align: center;
}



.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 40%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(255, 255, 255);
    }
}

.game-name-changer {
    margin: 0;
    width: 70%;
}

.text-guy {
    text-align: center;
}



#Round {
    font-size: 200%;
}


.memos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.colors {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    transition: .5s;
}

.colors-wrapper {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 10% 0 15% 0;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red-bg {
    background-color: red;
}

.blue {
    background-color: blue;
}

.unselected-color {
    filter: brightness(20%);
}

.color-clicked {
    animation: glow-up .5s ease-in;
}

@keyframes glow-up {
    0% {
        filter: brightness(20%);
    } 

    50% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(20%);
    }
}